body{
  background-color: blue; 
}
.box{
  color:white;
  background-color:black;
  width: 250px;
  height: 250px;
  opacity: 0.9;
  display: block;
  margin: auto;
}

.title{
  font-size:30px;
  display: block;
  text-align: center;
  text-shadow: 1px 2px 2px white;
  padding-top: 15px;
}
#fname{
  border-radius: 50px;
  background: transparent;
  padding: 8px 10px;
  border: 2px solid blue;
  margin-left: 25px;
}
#fname:focus{
  border-radius: 50px;
  background: transparent;
  padding: 10px 34px;
  border: 2px solid #4CAF50;
  -ms-transform: translate(-25px,0px); /* IE 9 */
  transform: translate(-25px,0px);
}

.login{
    border-radius: 50px;
    background: transparent;
    padding: 10px 30px;
    border: 2px solid #4CAF50;
    color: white;
    font-size: 13px;
    transition-duration: 0.4s;
    margin-left: 78px;
}
.login:hover {
  background-color: #4CAF50;
  color: white;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}